<article class="articleBody">
	<h2 class="inner_head">Vermillion Seminarって？</h2>
	<p>
	「Vermillion Seminar」はLord of Vermillion Ⅲ（以下LoVⅢ）をもっと楽しく、もっと上手に、もっと好きになりたい人達におくるイベントです。<br>
	<br>
	「まだ下手だけれどいつかは上手になりたい！」<br>
	「上手な人達のテクニックや知識を教えてほしい！」<br>
	「自分に足りないものを知りたい！」<br>
	<br>
	そんなあなたにLoVⅢのトップを走るプレイヤー達が優しく楽しく真剣に教えてくれちゃいます。<br>
	<br>
	この機会にぜひ「ヴァミゼミ」に入講してみませんか？
	</p>
	<h2 class="inner_head">タイムテーブル</h2>
	<p>「Vermillion Seminar」は二部構成で行われます。<br>
		所属しているリーグによって参加できる部が異なりますのでご注意ください。<br>
		<br>
		対象リーグ<br>
		一部…ブロンズリーグ・シルバーリーグ・ゴールドリーグ（定員50名）　※初心者向け講座<br>
		二部…プラチナリーグ・オリハルコンリーグ（定員50名）　※中・上級者向け講座<br>
		<br>
		※二部はヴァーミリオンリーグを目指すための講座内容を予定しておりますが、既にヴァーミリオンリーグに所属している方でも参加していただく事は可能です。<br>
		※各部共に参加人数に制限がございます。受講希望者が多数の場合は先着申し込み順となりますのであらかじめご了承ください。<br>
		<br>
		一部<br>
		ほにゃらら<br>
		<br>
		二部<br>
		ほにゃらら
	</p>
</article>