<article class="articleBody top_pc">
	<h2 class="outer_head top mplus-1c-light">2014.XX.XX TOKYO INTERNATIONAL FORUM</h2>
	<h1>
		<img src="./assets/images/logo_lov.png" alt="NITRO SUPER SONIC 2013 (ニトロスーパーソニック2013)" width="618" height="96">
	</h1>
	<h2 class="outer_head bottom mplus-1c-light">
		LoV3の最前線を生き抜くための<b>戦術</b>をあなたに<br>LoVランカー達によるLoVのファンイベント
	</h2>
	<div class="btn_container">
		<a class="btn entry" href="#/entry">ENTRY</a>
	</div>
</article>
<article class="articleBody top_mobile">
	<h1>
		<img src="./assets/images/bg-mobile.png" alt="NITRO SUPER SONIC 2013 (ニトロスーパーソニック2013)">
	</h1>
	<div class="btn_container">
		<a class="btn entry" href="#/entry">ENTRY</a>
	</div>
</article>

