<article class="articleBody">
	<h2 class="inner_head">会場案内</h2>
	<p>東京国際フォーラムへの交通アクセス情報をご紹介します</p>
	<p>JR線</p>
	<p>有楽町駅より徒歩1分</p>
	<p>東京駅より徒歩5分 (京葉線東京駅とB1F地下コンコースにて連絡)</p>
	<p>地下鉄</p>
	<p>有楽町線　：　有楽町駅(B1F地下コンコースにて連絡）</p>
	<p>日比谷線　：　銀座駅より徒歩5分/日比谷駅より徒歩5分</p>
	<p>千代田線　：　二重橋前駅より徒歩5分/日比谷駅より徒歩7分</p>
	<p>丸ノ内線　：　銀座駅より徒歩5分</p>
	<p>銀座線　　：　銀座駅より徒歩7分/京橋駅より徒歩7分</p>
	<p>三田線　　：　日比谷駅より徒歩5分</p>
	<google-map
		 center="map.center"
		 zoom="map.zoom"
		 draggable="true"
		 options="options">
	</google-map>
</article>