/*****************************
  フッター
*****************************/
.info {
  color: rgba(223,44,92,1);
}
.info:before {
  content: "\0025a0";
}
.info:after {
  content: "\002026\002026";
}
.foot {
  margin-bottom: 70px!important;
  padding-top: 1px;
}